<p>
  hello from ask
</p>

<!-- <form action="/answer">
  <input type="text" name="question">


  <input type="submit" value="Ask!" id="form">
</form> -->

<form action="/answer" class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="question">
  </div>
  <input type="submit" value="Ask!"
  class="btn btn-danger">

  </form>

